[user]
	email = fabrizio.ferrai@gmail.com
	name = Fabrizio Ferrai
	signingkey = 34949D71
[push]
	default = simple
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
