# Caches, useless configs
.ICEauthority
.PyCharm*/
.Xauthority
.cache/
.compose-cache/
.config/
.dbus/
.dropbox-dist/
.dropbox/
.esd_auth
.httpie/
.java/
.kube/
.gnupg/
.lesshst
.local/
.mozilla/
.nix-defexpr/
.nv/
.pki/
.stack/
.steam/
.steampath
.steampid
.tldrc/
.viminfo
.zcompcache/
.zcompdump
.zcompdump.zwc
resolv.conf.backup

# Histories, may contain sensitive data
.*_history
.zhistory

# Definitely want to keep ssh config, definitely not keys
.ssh/*
!.ssh/config

# Actual content
Desktop/
Downloads/
Dropbox/
code/

# Maybe?
.nix-channels
.nix-profile
