# Caches, useless configs
.ICEauthority
.PyCharm*/
.IdeaIC2019.3/
.Xauthority
.atom/
.boot/cache/
.cache/
.cargo/
.cert/
.compose-cache/
.config/
.dbus/
.dropbox-dist/
.dropbox-dist-old*
.dropbox/
.esd_auth
.httpie/
.java/
.kube/
.gconf/
.ghc/
.gnome/
.gnupg/
!.gnupg/gpg.conf
.gvfs
.ipython/
.lein/self-installs
.lesshst
.local/
.macromedia/
.mozilla/
.nix-defexpr/
.nv/
.m2/
.pki/
.stack/
.steam/
.steampath
.steampid
.tldrc/
.tmp/
.viminfo
.zcompcache/
.zcompdump
.zcompdump.zwc
resolv.conf.backup
.yarnrc
.npm
.wget-hsts
.PhpStorm*
.gsutil
.hpack
.mysql
.terraform.d
.wine
.spacemacs.env
.emacs.d/transient/
.node-gyp/
.log/
.vim/
.yarn/
.npm-packages
.hoogle
.npmrc
.sudo_as_admin_successful
.xscreensaver
.xsession-errors*
.dmrc
.Xdefaults
snap/*
.aws/
.docker/
.face
.mono
.ngrok2
.nvidia-*
.pulse-cookie
.pulp
.sqitch
.thunderbird
.tldr
.xournal
.zoom
.vscode
.saokerc

# Histories, may contain sensitive data
.*_history
.zhistory
.z
.lein/repl-history

# Definitely want to keep ssh config, definitely not keys
.ssh/*
!.ssh/config

# Actual content
code/
Desktop/
Documents/
Downloads/
Dropbox/
Pictures/

# Games
Steam/
.Prison Architect/
.factorio/
.olliolli/
.paradoxinteractive/
.paradoxlauncher/
.proton/
Ludeon Studios/

# Maybe?
.nix-channels
.nix-profile
.bash_logout
.bashrc
.profile
.fonts
