# Caches, useless configs
.ICEauthority
.PyCharm*/
.IdeaIC2019.3/
.Xauthority
.atom/
.boot/cache/
.cache/
.cargo/
.cert/
.compose-cache/
.config/
.dbus/
.dropbox-dist/
.dropbox-dist-old*
.dropbox/
.expo/
.esd_auth
.httpie/
.java/
.kube/
.gconf/
.ghc/
.gnome/
.gnupg/
!.gnupg/gpg.conf
.gvfs
.ipython/
.jackdrc
.lein/self-installs
.lesshst
.local/
.macromedia/
.mozilla/
.nix-defexpr/
.nv/
.m2/
.pki/
.stack/
.steam/
.steampath
.steampid
.tldrc/
.tmp/
.viminfo
.zcompcache/
.zcompdump
.zcompdump.zwc
resolv.conf.backup
.yarnrc
.npm
.wget-hsts
.PhpStorm*
.gsutil
.hpack
.mysql
.terraform.d
.wine
.spacemacs.env
.emacs.d/transient/
.node-gyp/
.log/
.vim/
.yarn/
.npm-packages
.hoogle
.npmrc
.sudo_as_admin_successful
.xscreensaver
.xsession-errors*
.dmrc
.Xdefaults
snap/*
.aws/
.docker/
.face
.mono
.ngrok2
.nvidia-*
.pulse-cookie
.pulp
.sqitch
.thunderbird
.tldr
.xournal
.zoom
.vscode
.saokerc
.Rack/
.audacity-data/
.remapy/
.parallel/
.keras/
.launchpadlib/
.nvm/
.dotnet/
.cabal/
.clojure/
.drumgizmo/
.gitlibs/
.pylint.d/
.vscode-server/
.zynaddsubfx-bank-cache.xml
.CFUserTextEncoding
.erlang.cookie
.terminfo
.Trash
.ngrok
*.log
.cups
.go
.jssc
.orbstack/
OrbStack

# Histories, may contain sensitive data
.*_history
.zhistory
.z
.lein/repl-history
.history
.zsh_sessions
.bash_sessions

# Definitely want to keep ssh config, definitely not keys
.ssh/*
!.ssh/config

# Nix
.nixpkgs
nixos-config/result

# MacOS
**/.DS_Store

# Actual content
code/
misc/
Applications
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Pictures/
Music/
vst/
Splice/
Sync

# Games
Steam/
.Prison Architect/
.factorio/
.olliolli/
.paradoxinteractive/
.paradoxlauncher/
.proton/
Ludeon Studios/

# Maybe?
hardware-configuration.nix
nixos-config/hardware-configuration.nix
.nix-channels
.nix-profile
.bash_logout
.bashrc
.profile
.fonts

# Some .bin files
bin/docker
bin/docker-compose
bin/docker-credential-osxkeychain
bin/kubectl
bin/orb
bin/orbctl
